body {
  margin: 0px;
  padding: 0px;
  display:flex;
  height: 100vh;
  color: #484848;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;;
}